@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #007fff;
  --divider-color: #808695;
  --background-color: #ffffff;
  --body-background-color: #f1f1f1;
  --primary-color: #409eff;
  --success-color: #01c281;
  --warning-color: #fabc20;
  --danger-color: #ff4929;
  --info-color: #909399;
  --text-color: #515a6e;
  --text-primary-color: #17233d;
  --text-secondary-color: #808695;
  --text-placeholder-color: #b6bac4;
  --border-color: #dcdee2;
  --border-light-color: #e8eaec;
  --border-lighter-color: #efefef;
  --border-extralight-color: #f8f8f9;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --theme-color: #007fff;
  --divider-color: #262626;
  --background-color: #000000;
  --body-background-color: #111111;
  --primary-color: #409eff;
  --success-color: #01c281;
  --warning-color: #fabc20;
  --danger-color: #ff4929;
  --info-color: #909399;
  --text-color: #cccccc;
  --text-primary-color: #f2f2f2;
  --text-secondary-color: #a6a6a6;
  --text-placeholder-color: #595959;
  --border-color: #dcdee2;
  --border-light-color: #e8eaec;
  --border-lighter-color: #efefef;
  --border-extralight-color: #f8f8f9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
